<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret dig hos GNIST</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="background-color: #778899">

<div class="createU-div">
    <a href="/" style="text-decoration: none; color: #505050;"><p class="regform-title">< Tilbage til login</p></a>
    <div class="logo">
        <img src="../static/images/gnistlogov2.png" th:src="@{images/gnistlogov2.png}" alt="GNIST logo"/>
    </div>

    <div class="title">GNIST</div>

    <div class="sub-title" style="font-size:30px;">Din bruger er blevet oprettet!</div>


</div>

</body>
</html>