<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret dig hos GNIST</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="background-color: #333">

    <div class="createU-div">
        <a href="/" style="text-decoration: none; color: #505050;"><p class="regform-title">< Tilbage til login</p></a>
        <div class="logo">
            <img src="../static/images/gnistlogov2.png" th:src="@{images/gnistlogov2.png}" alt="GNIST logo"/>
        </div>

        <div class="title">GNIST</div>

        <div class="sub-title" style="font-size:30px;">Opret en bruger</div>

        <form class="form" action="/createUser">

            <!-- USERNAME -->
            <div class="username">
                <p class="regform-title">Skriv dit username: </p>
                <input type="text" placeholder="Username" id="username" name="username" class="formbar" required>
            </div>

            <!-- PASSWORD -->
            <div class="password">
                <p class="regform-title">Skriv dit password: </p>
                <input type="password" placeholder="Password" id="password" name="password" class="formbar" required>
            </div>

            <!-- RE PASSWORD -->
            <div class="password">
                <p class="regform-title">Skriv dit password igen: </p>
                <input type="password" placeholder="Password" id="passwordre" name="passwordre" class="formbar" required>
            </div>

            <!-- FIRST NAME -->
            <div class="username">
                <p class="regform-title">Skriv dit fornavn: </p>
                <input type="text" placeholder="Fornavn" name="firstName" class="formbar" required>
            </div>

            <!-- LAST NAME -->
            <div class="username">
                <p class="regform-title">Skriv dit efternavn: </p>
                <input type="text" placeholder="Efternavn" name="lastName" class="formbar" required>
            </div>

            <!-- BIRTHDATE -->
            <div class="username" style="border:none;">
                <label for="birthday" class="regform-title">Fødselsdato: </label>
                <input type="date" id="birthday" name="birthdate" value="0000-12-24" style="color:#505050;font-size: 18px; font-family: Lato;" required>
            </div>

            <!-- GENDER -->
            <div class="username" style="border: none;">
                <label for="gender-select" class="regform-title">Vælg dit køn: </label>
                <select name="gender" id="gender-select" class="select-gender" required>
                    <option value="" disabled selected hidden>Vælg her</option>
                    <option value="male">Mand</option>
                    <option value="female">Kvinde</option>
                </select>
            </div>

            <!-- PREFERED GENDER -->
            <div class="username" style="border: none;">
                <label for="gender-preference-select" class="regform-title">Vælg hvilke(t) køn du leder efter: </label>
                <select name="genderPreference" id="gender-preference-select" class="select-gender" required>
                    <option value="" disabled selected hidden>Vælg her</option>
                    <option value="male">Mænd</option>
                    <option value="female">Kvinder</option>
                    <option value="both">Begge</option>
                </select>
            </div>

            <!-- PHONE NUMBER -->
            <div class="username">
                <p class="regform-title">Skriv dit telefon nummer: </p>
                <input type="text" placeholder="Tlf.nr." name="phonenumber" class="formbar" required>
            </div>

            <!-- Comment -->
            <div class="username" style="border: none">
                <p class="regform-title">Skriv meget kort om dig selv: </p>
                <textarea type="text" placeholder="Kort beskrivelse af dig" name="comment" class="formbar" ></textarea>
            </div>

            <!-- Interest 1 -->
            <div class="username" style="border: none;">
                <label for="interest1" class="regform-title">Hvad vil du helst på en regnvejrsdag? </label>
                <select name="interest1" id="interest1" class="select-gender" required>
                    <option value="" disabled selected hidden>Vælg her</option>
                    <option value="1">På med regntøjet og gå en tur</option>
                    <option value="2">Brætspil i pyjamas</option>
                    <option value="3">Netflix under dynen</option>
                </select>
            </div>

            <!-- Interest 2 -->
            <div class="username" style="border: none;">
                <label for="interest2" class="regform-title">Hvor vil du helst holde din ferie? </label>
                <select name="interest2" id="interest2" class="select-gender" required>
                    <option value="" disabled selected hidden>Vælg her</option>
                    <option value="1">På museer rundt i verdenen</option>
                    <option value="2">På stranden</option>
                    <option value="3">I sneen</option>
                </select>
            </div>

            <!-- Interest 3 -->
            <div class="username" style="border: none;">
                <label for="interest3" class="regform-title">Hvad er din "go to" en fredag aften? </label>
                <select name="interest3" id="interest3" class="select-gender" required>
                    <option value="" disabled selected hidden>Vælg her</option>
                    <option value="1">I byen og feste</option>
                    <option value="2">Rolig aften foran tv'et</option>
                    <option value="3">Hyggelig middag med venner/familie</option>
                </select>
            </div>

            <!-- PHOTO -->
            <!--
            <div class="username" style="border: none">
                <label for="img" class="regform-title">Vælg dit bedste billede: </label>
                <input type="file" id="img" name="img" accept="image/*">

            </div>
            -->


            <button class="signin-btn" type="submit">OPRET</button>


        </form>

    </div>

</body>
</html>