<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Din profil</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<header class="sticky">

    <ul class="ulnav">
        <li class="linav"><img th:src="@{images/gnistlogov2.png}" alt="GNIST logo" style="width:50px;height: 50px;"/></li>
        <li class="linav"><a class="href-uden-aendring"href="/loggedin">Gnister</a></li>
        <li class="linav"><a class="href-uden-aendring"href="/favoritter">Favoritter</a></li>
        <li class="linav" style="background-color:#E7745B"><a class="href-uden-aendring"href="/profil">Profil</a></li>
        <li class="linav" style="float: right"><a class="href-uden-aendring"href="/">Log ud</a></li>
    </ul>

</header>


<div style="width: 100%; height: 50px;"></div>
<div class="createU-div" style="border:none; margin-top:0;">
    <div class="title">Upload et billede eller erstat dit eksisterende billede</div>
    <form class="form" action="/uploadBillede" method="POST" enctype="multipart/form-data">
        <div class="row" style="border: none">
            <div class="col">
            <img th:src="@{images/{image}.jpeg(image=${singleUser.username})}" style="width: 200px;height: 200px; border-radius:50%; border: 4px solid #E7745B">
            </div>
            <div class="col">
            <label for="img" class="regform-title">Vælg dit bedste billede: </label>
            <br>
            <input type="file" id="img" name="img" accept="image/*" required style="padding-left:0; margin-bottom: 8px;">

                <button class="signin-btn" style="width:150px; margin:0px;" type="submit">UPLOAD</button>
            </div>
        </div>
    </form>
    <br>
    <div class="title">Opdater dine oplysninger</div>
    <form class="form" action="/opdaterInfo">
        <!-- Comment -->
        <div class="username" style="border: none">
            <p class="regform-title">Skriv meget kort om dig selv: </p>
            <textarea type="text" placeholder="Kort beskrivelse af dig" name="comment" class="formbar" th:text="${singleUser.comment}"></textarea>
        </div>

        <!-- PHONE NUMBER -->
        <div class="username">
            <p class="regform-title">Skriv dit telefon nummer: </p>
            <input type="text" placeholder="Tlf.nr." name="phonenumber" class="formbar" required th:attr="value=${singleUser.phonenumber}">
        </div>

        <!-- PASSWORD -->
        <div class="password">
            <p class="regform-title">Skift dit password: </p>
            <input type="password" placeholder="Password" id="password" name="password" class="formbar" required th:attr="value=${singleUser.password}">
        </div>

        <!-- RE PASSWORD -->
        <div class="password">
            <p class="regform-title">Skriv dit nye password igen: </p>
            <input type="password" placeholder="Password" id="passwordre" name="passwordre" class="formbar" required th:attr="value=${singleUser.password}">
        </div>

        <button class="signin-btn" style="" type="submit">OPDATER OPLYSNINGER</button>

    </form>
</div>

</body>
</html>