<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Din profil</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<header>

    <ul class="ulnav">
        <li class="linav"><img src="../static/images/gnistlogov2.png" th:src="@{images/gnistlogov2.png}" alt="GNIST logo" style="width:50px;height: 50px;"/></li>
        <li class="linav"><a class="href-uden-aendring"href="#">Startside</a></li>
        <li class="linav"><a class="href-uden-aendring"href="#">Favoritter</a></li>
        <li class="linav" ><a class="href-uden-aendring"href="/profil">Profil</a></li>
        <li class="linav" style="float: right"><a class="href-uden-aendring"href="/">Log ud</a></li>
    </ul>

</header>
<div class="createU-div" style="border:none;">
    <form class="form" action="/uploadBillede" method="POST" enctype="multipart/form-data">
        <div class="username" style="border: none">
            <label for="img" class="regform-title">Vælg dit bedste billede: </label>
            <input type="file" id="img" name="img" accept="image/*" required>
        </div>
        <button class="signin-btn" style="width:150px; float:left;" type="submit">UPLOAD</button>
    </form>
</div>

</body>
</html>